{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solicitar Proposta</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="menu">
      <div class="logo">
          <img
            class="logo"
            src="{% static 'img/logo-transparent.png' %}"
            alt=""
            height="30px"
        />
      </div>
    </div>
    <div class="container w-50 py-5">
        <h1 class="my-4">Formulário para geração de Proposta</h1>
      <form method="POST"> {% csrf_token %}
        <div class="form-group">
          <label for="">Telefone</label>
          <input required type="text" class="form-control" name="phone"/>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input required type="text" class="form-control" name="email" />
        </div>
        <div class="form-group">
          <label for="">Empresa</label>
          <input required type="text" class="form-control" name="question_1" />
        </div>
        <div class="form-group">
          <label for="">Ramo</label>
          <select class="form-control" id="fork">
            <option value="">---</option>
            <option value="1">Indústria</option>
            <option value="2">Comércio</option>
            <option value="3">Serviços e Turismo</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Atividades</label>
          <select class="form-control" name="question_2" id="activity" disabled>
            <option value="" selected>---</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Principal negócio</label>
          <input required type="text" class="form-control" name="question_3" />
        </div>
        <div class="form-group">
          <label for="">Colaboradores</label>
          <select class="form-control" id="employers" name="question_4">
            <option value="Menos de 50">Menos de 50</option>
            <option value="Entre 50 e 100">Entre 50 e 100</option>
            <option value="Entre 100 e 500">Entre 100 e 500</option>
            <option value="Entre 500 e 1000">Entre 500 e 1000</option>
            <option value="Entre 1000 e 2000">Entre 1000 e 2000</option>
            <option value="Mais de 2000">Mais de 2000</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Qual a missão, visão e valores da empresa?</label>
          <input required type="text" class="form-control" name="question_5" />
        </div>
        <div class="form-group">
          <label for="">Quais os diferenciais essenciais da empresa?</label>
          <input required type="text" class="form-control" name="question_6" />
        </div>
        <div class="form-group">
          <label for=""
            >Quais suas principais necessidades? Como podemos ajuda-los?</label
          >
          <input required type="text" class="form-control" name="question_7" />
        </div>
        <div class="form-group">
          <label for=""
            >Essas necessidades foram geradas em função de algum problema em
            especial? Como surgiu essa demanda?</label
          >
          <input required type="text" class="form-control" name="question_8" />
        </div>
        <div class="form-group">
          <label for=""
            >Além das necessidades relatadas, existe alguma outra que você
            gostaria de relatar?</label
          >
          <input required type="text" class="form-control" name="question_9"/>
        </div>
        <div class="form-group">
          <label for="">Qual o objetivo principal da capacitação?</label>
          <input required type="text" class="form-control" name="question_10" />
        </div>
        <div class="form-group">
          <label for=""
            >Quais os principais temas que você acredita que devem ser
            trabalhados nesta formação?
          </label>
          <input required type="text" class="form-control" name="question_11" />
        </div>
        <div class="form-group">
          <label for=""
            >Quem deverá participar da capacitação? (público-alvo) Quantas
            pessoas aproximadamente?</label
          >
          <input required type="text" class="form-control" name="question_12" />
        </div>
        <div class="form-group">
          <label for=""
            >Qual o nível médio de formação(escolaridade) do
            público-alvo?</label
          >
          <input required type="text" class="form-control" name="question_13"/>
        </div>
        <div class="form-group">
          <label for="">
            A capacitação fará parte de um programa de treinamento?
          </label>
          <input required type="text" class="form-control" name="question_14" />
        </div>
        <div class="form-group">
          <label for="">
            Outras observações:
          </label>
          <textarea required class="form-control" name="question_15" id=""></textarea>
        </div>
        <button type="submit" class="btn btn-success mb-5">Gerar Proposta</button>
      </form>
    </div>

    <script>
      let activity = {
        industria: [
          "Gráfica",
          "Calçado",
          "Vestuário",
          "Bebidas",
          "Mobiliário",
          "Couros",
          "Metalurgia",
          "Mecânica",
          "Outro",
        ],

        comercio: [
          "Veículos",
          "Tecidos",
          "Combustíveis",
          "Ferragens",
          "Roupas",
          "Acessórios",
        ],

        serviços_e_turismo: [
          "Alimentação",
          "Transporte",
          "Turismo",
          "Saúde",
          "Educação",
          "Lazer",
        ],
      };
      let fork = document.getElementById("fork");
      let options = document.getElementById("activity");

      fork.addEventListener("change", (e) => {
        console.log(fork.value);
        switch (e.target.value) {
          case "1":
            options.removeAttribute("disabled");
            options.innerHTML = "";
            activity.industria.forEach((el) => {
              options.innerHTML += `<option value="${el}">${el}</option>`;
            });
            break;
          case "2":
            options.removeAttribute("disabled");
            options.innerHTML = "";
            activity.comercio.forEach((el) => {
              options.innerHTML += `<option value="${el}">${el}</option>`;
            });

            break;
          case "3":
            options.removeAttribute("disabled");
            options.innerHTML = "";
            activity.serviços_e_turismo.forEach((el) => {
              options.innerHTML += `<option value="${el}">${el}</option>`;
            });
            break;

          default:
            options.setAttribute("disabled", "disabled");
            options.innerHTML = "";
            break;
        }
      });
    </script>
  </body>
</html>
