*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: auto;
}

body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #0149b8;
}
.navbar .nav-link {
    color: white !important;
}
.aside-options {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #8f8585ad;
    color: white;
    padding: 15px;
    overflow-y: auto;
}

.card{
    height: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card  p{
    color: black;
    margin: 10px;
    text-align: justify;
}


.chat-container {
    width: 60%;
    max-width: 1000px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translate(0%, 10%);
    border: 1px solid rgba(0, 0, 0, 0.205);
}
.chat-box {
    height: 80%;
    height: 600px;
    overflow-y: scroll;
    padding: 15px;
    background-color: #e9ecef;
}
.chat-message {
    margin-bottom: 15px;
}
.chat-message.user {
    text-align: right;
}
.chat-message.bot {
    text-align: left;
    display: flex;
}


.bot-img{
    min-width: 40px;
    background-image: url(../img/bot-img.jpg);
    background-size: cover;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.chat-message .message {
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
}
.chat-message.user .message {
    background-color: #0149b8;
    color: white;
}
.chat-message.bot .message {
    background-color: #ee730b;
    color: white;
}


.input-group{
    padding: 0 20px;
}

.input-group-append .btn {
    background-color: #0149b8;
    border-color: #0149b8;
}