*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: auto;
}

body {
    background-color: #f8f9fa;
    height: 100vh;
}


.main-container{
    display: flex;
}


.option-card {
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card-body{
    padding: 0.8rem !important;
}

.message-container {
    margin-top: 10px;
}

.options {
    margin-top: 10px;
}


.navbar {
    background-color: #8f8585ad;
}
.navbar .nav-link {
    color: white !important;
}
.aside-options {
    /* position: fixed; */
    width: 250px;
    /* max-height: 95%; */
    background-color: #e9ecef;
    color: white;
    padding: 15px;
    overflow-y: auto;
}


.aside-options > h5{
    color: black;
}

.option-card{
    background-color: #0149b8 !important;
    margin:5px !important;
}

.card{
    height: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #e9ecef;
    border: none;
}

.card  p{
    color: black;
    margin: 10px;
    text-align: justify;
}


.chat-container {
    width: 60%;
    height: 83%;
    max-width: 1000px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.205);
    margin: 40px auto;
}
.chat-box {
    height: 75vh;
    overflow-y: scroll;
    padding: 15px;
    background-color: #e9ecef;
}
.chat-message {
    margin-bottom: 15px;
}
.chat-message.user {
    text-align: right;
}
.chat-message.bot {
    text-align: left;
    display: flex;
}




.bot-img{
    min-width: 40px;
    background-image: url(../img/bot-img.jpg);
    background-size: cover;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.chat-message .message {
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
}
.chat-message.user .message {
    background-color: #0149b8;
    color: white;
}
.chat-message.bot .message {
    background-color: #ee730b;
    color: white;
}


.input-group{
    padding: 0 20px;
}

.input-group-append .btn {
    background-color: #0149b8;
    border-color: #0149b8;
}











/* ################ LISTAR PROFESSORES ################ */
.competency-input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
}

.competency-input {
    flex: 1;
    border: none;
    outline: none;
    min-width: 120px;
}

.competency-badge {
    margin: 2px 5px;
    background-color: #ee730b;
    color: #fff;
    padding: .25em .5em;
    border-radius: .25rem;
}

.competency-badge .close {
    margin-left: .5em;
    cursor: pointer;
}